[2020-01-26 16:28] HudsonAfonso opened #21 "MobX Store and Observable"
is it possible to use Brick Model with MobX Store?
and use the Observable annotation on fields?

[2020-01-26 20:05] tshedor commented on #21
Hey @HudsonAfonso thanks for the question. To be upfront, I've never used MobX in a Flutter project. I just went through the README and to answer your question, yes. However, how automagic the integration is will vary.

From the [example in the README](https://github.com/mobxjs/mobx.dart#actions), we can add a Brick model to your store model:

[code]

And that's it. The model will generate an adap

[2020-02-06 09:45] porfirioribeiro opened #29 "What files should be ignored"
On the [documentation](https://github.com/greenbits/brick#recommended-but-optional) you say that every `*.g.dart` should be ignored, but in some files they say that it should not be ignored like [schema.g.dart](https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/example/lib/app/db/schema.g.dart#L2) on the example.

Would be nice to have this clarified.

[2020-02-09 17:57] tshedor commented on #29
@porfirioribeiro Thanks using Brick.

Every `*.g.dart` should be ignored, including `schema.g.dart`. I committed the generated files in the example to accessibly illustrate what Brick's outputs. You're right that this is confusing and seemingly counter to the documentation. I'll open a PR in a minute to note that.

Many thanks for the catch, and good luck with using Brick. Please drop me a line at

[2020-02-09 18:06] porfirioribeiro commented on #29
Thanks, so far I am enjoying it, was annoyed by codegen not working ok, but then I read somewhere that I needed to run build twice, and everything is going good.
I'm still just doing mostly read only resources and cache for offline, next week I hope to start implementing some resources that would need to be able to create offline, the reason I started using brick the first place! I'll contact you

[2020-02-10 18:26] #29 closed

[2020-02-13 10:48] porfirioribeiro opened #31 "Support generics on types"
I want to add a type that has generic argument on my model.

[code]

[code]

[2020-02-17 21:24] tshedor commented on #31
@porfirioribeiro that's a fantastic edge case. How are you populating that type argument? Is it static, i.e.

[code]

or is it provided elsewhere? For example:

[code]

[2020-02-17 21:47] porfirioribeiro commented on #31
It is actually `Geometry<dynamic>`
I wan't to store a GeoJson, so i can use the `type` of the Geometry to parse/stringify it

Imagin this:
[code]

What i am doing now is having `OfflineFirstSerdes` on `MultiPolygon` and the others, but that means i need to specify the exact GeoJson type. For the moment it's ok because i know my API only return's `MultiPolygons`
[code]
But i would like to specify t

[2020-02-21 23:10] tshedor commented on #31
@porfirioribeiro after giving this some thought,
1) The type argument must be passed to Geometry somehow, and that would require the deserializer to be aware of the argument. I'm going to leave this issue open for the time being because I want to remember to return to it, although it's not a high priority.
2) This specific error deals with the SQLite deserializer. So long as you're not serializing

[2020-02-25 01:31] tshedor commented on #31
Hey @porfirioribeiro would you mind checking out [this branch](https://github.com/greenbits/brick/tree/strict-type-in-sqlite-mapping) and seeing if it will work for you?

[2020-02-25 01:34] porfirioribeiro commented on #31
I'll get back to work at Wednesday, I'll try and report back to you.
Thanks

[2020-03-10 09:14] porfirioribeiro commented on #31
Sorry for the delay, i just tested and it's working good on master!

[2020-03-10 09:14] #31 closed

[2020-03-10 09:43] porfirioribeiro opened #38 "Models in sub folders"
I would like to structure models using folders.
But putting models inside a folder do not work.
When you start getting many models might be hard to have them all in the same place

[2020-03-10 19:00] porfirioribeiro opened #39 "Store blob in database"
I have some models that returns base64 encoded images from REST and i want to store them on the database.
I can do it, storing it as a plain string, but it would be nice to convert it to `Uint8List` store it that way on the db but if i add:
[code]
To my model it stops being recognized by brick.

[2020-03-11 18:22] tshedor commented on #38
Hey @porfirioribeiro  , at this time we're not going to support sub folders. The output of the builder has a very specific folder expectation. It's something that's on the roadmap, but is very unlikely to be addressed before an alpha release.

[2020-03-11 18:24] tshedor commented on #39
@porfirioribeiro ah, yes. This will be tricky when converting the blob from SQLite back to Dart.

Are there any other byte lists or formats that you can currently think of that would be stored as a blob?

[2020-03-11 19:38] porfirioribeiro commented on #39
At this moment, only I only want to store images as blobs

In other parts of my app, out of brick i am also storing BLOBs with sfqlite and i can access the data easy in Dart

I would help on the implementation, but my knowledge of the brick code structure is still vague 🙄

[2020-03-13 17:30] tshedor commented on #21
Hey @HudsonAfonso I'm going to close this out. Please reach out again if you have any more questions.

[2020-03-13 17:30] #21 closed

[2020-03-21 21:37] porfirioribeiro opened #42 "Specify Sqlite datatype"
As we have `fromGenerator` and `toGenerator`  to completely change the was we store and retrieve from the database would be nice to be able to specify the column type in the database

Like:
`Sqlite(type: Column.text)`

This would give more flexibility and let do some advanced stuff

[2020-04-03 04:50] carlos-labrador opened #45 "Handling 401 Unauthorized Response"
I am using passport for api connection, but when client response 401 due to an expired token , brick ignore this response and continue retrieve data from local.

it seems brick ignore 401 http code , It is possible to get an Unauthorized exception ?

I have to say , brick is a really nice package. helps me a lot.

Thanks in advance

[2020-04-04 05:06] carlos-labrador commented on #45
@tshedor , in my case requireRemote works but it responses with an empty list ( List<object>()), so I wanted to get an  Unauthorized exception to handle it properly , for example if I get that Unauthorized exception it will redirect the user to login page.

[2020-04-04 05:07] carlos-labrador commented on #45
@porfirioribeiro , so should I create a custom httpclient for change this behaviour? do you have an example? sorry about it.

[2020-04-05 08:51] porfirioribeiro commented on #45
It depends on your usage, here is an adapted snipet from my code:
[code]

as i said, it depends on your workflow, in our case our authenticated requests accept a Bearer Json Web Token, and i have some service that validates/stores that token and then i pass it to all requests

[2020-04-05 10:51] porfirioribeiro opened #47 "Suport with OfflineFirstSerdes"
Some serdes might already extend a different class, in my understanding `OfflineFirstSerdes` could be used as a mixin, but the builder will not detect it.

[code]

I guess it's a matter of changing how the builder detects this?

[2020-04-05 20:09] tshedor commented on #47
@porfirioribeiro `OfflineFirstSerdes` has to be used as its own class for the analyzer to detect it. This isn't available as a mixin because classes extending `OfflineFirstSerdes` need to have provider-specific factories like `toRest`, and mixins shouldn't anticipate or declare constructors. You can approach this from two directions:

[code]

or, if you need the concerns very separated:

[code]

T

[2020-04-05 20:12] porfirioribeiro commented on #47
Thanks for the explanation, it makes sense!

[2020-04-05 20:12] #47 closed

[2020-04-20 05:14] huntergps opened #48 "the example doesn't work"
Download, I followed the steps to run the example but it doesn't work correctly, it doesn't load the data from the local server

[2020-04-20 21:25] tshedor commented on #48
@huntergps are you behind a firewall of any kind? Can you access `localhost:8080`?

[2020-04-20 21:51] huntergps commented on #48
No, it is not behind a firewall, everything is locally.  The api server is running in localhost:8080.
I use mac with Mojave os. Any way to debug?

[2020-04-20 23:37] huntergps commented on #48
Sorry it worked, it was my fault. The api server was not network enabled, only locally.

[2020-04-21 01:12] huntergps opened #50 "Usage example"
Where can I get a usage example, which allows reading data from an api rest server and doing CRUD operations?

[2020-04-22 21:27] tshedor commented on #48
Great to hear

[2020-04-22 21:27] #48 closed

[2020-04-22 21:28] tshedor commented on #50
@huntergps have you checked out [the example package](https://github.com/greenbits/brick/blob/master/example/lib/main.dart) ?

[2020-04-30 06:58] pkozlovskiy opened #52 "Add support for different platforms"
Support for all platforms like in
https://github.com/simolus3/moor/tree/master/moor_ffi

[2020-04-30 19:12] huntergps commented on #50
Of course, but it is too basic to understand how to use brick in a real app.

[2020-04-30 23:36] tshedor commented on #52
@pkozlovskiy can you please provide more context? I'm unfamiliar with this package.

If you mean supporting sqlite3, Brick has a hard dependency on sqflite.

[2020-04-30 23:38] tshedor commented on #50
@huntergps by definition, an example should be basic so that it's approachable.

If you want to see an example of what's [available to models](https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/example/lib/app/models/kitchen_sink.dart), the kitchen sink is a good example.

[2020-04-30 23:38] #50 closed

[2020-04-30 23:38] tshedor commented on #45
Closing due to inactivity

[2020-04-30 23:38] #45 closed

[2020-05-01 10:18] pkozlovskiy commented on #52
But sqflite have ffi implementation
https://github.com/tekartik/sqflite/tree/master/sqflite_common_ffi
wich supported on Linux, MacOS and Windows.
Maybe it is real change initialization of sqflite in brick like here
https://github.com/tekartik/sqflite/tree/master/sqflite_test_app/lib

[2020-05-05 18:03] MilesAdamson opened #53 "How to configure with Dio?"
I am looking at trying to use this plugin with Dio as my api client. Currently, I have all the api working with Dio, and now want to do offline as the next step.

Just starting on this, haven't configured much of anything yet, but I think I ran into an issue where Dio is using [HttpClient](https://api.dart.dev/stable/2.8.1/dart-io/HttpClient-class.html) and your `RestProvider` expects a [Client](h

[2020-05-06 19:41] tshedor commented on #52
@pkozlovskiy Ah, that is fascinating. And great that sqflite supports it natively. Let me do a little experimenting and get back to you, but I think this is very achievable.

[2020-05-06 20:02] tshedor commented on #53
@MilesAdamson so this is an interesting problem and it led me down a rabbit hole of dependencies. I'll summarize as best I can before getting to the solution:

1. Dio uses HttpClient which is from `dart:io:HttpClient`. Brick uses `HttpClient`, from `package:http/http.dart`
2. Really, all you need is a BaseClient to pass Dart's type checker. So I checked out `client.dart` (which has a useful note a

[2020-05-07 15:45] MilesAdamson commented on #53
I tried it out yesterday and it does compile and work, but it doesn't use the Dio level features I was hoping for. For example dio has connect timeouts and the headers already configured in the app but they aren't getting added and the on request hook isn't getting fired.

Thanks for looking into it! But I'm not sure if it's there much point in getting Dio's client referenced in you package. For m

[2020-05-11 04:30] MilesAdamson opened #54 "When brick.g imports cloud firestore, there is a conflict for the name "Query""
I have a model which imports cloud firestore, which causes `brick.g` to also import firestore. This creates a conflict for the name Query, since firestore also has a [Query class](https://pub.dev/documentation/cloud_firestore/latest/cloud_firestore/Query-class.html).

The result is that any adapter code which uses bricks `Query` does not compile. In my use, I can simply delete the firestore import

[2020-05-11 17:49] MilesAdamson opened #55 "Data in _$FromRest is missing keys which causes crash"
Issue: some keys are missing in the data object when I reach the from rest method. The api I'm using returns complete objects within a job, opposed to only an id. These objects used to be created properly when using JsonSerializable:

[code]

Now when switching to brick offline, these object are missing completely from the data map. They aren't even null, the keys don't exist.

[code]

[code]

Thi

[2020-05-11 20:16] MilesAdamson commented on #54
I fixed this issue by using `show` in my models which use firestore

`import 'package:cloud_firestore/cloud_firestore.dart' show Timestamp, DocumentSnapshot;`

[2020-05-12 21:45] MilesAdamson opened #56 "Why does this query return empty list of models?"
The my api for getting jobs expects a date range. The query below successfully gets the jobs from REST. However, when I run the same query without internet, I receive an empty list of jobs.

[code]

If I comment that out and run this without internet, I receive all the jobs which are saved in Sqlite:

[code]

Why am I receiving an empty list of jobs from the first query? How can I change it to ret

[2020-05-12 22:54] MilesAdamson commented on #56
Turns out I can't read docs and should be using `where` for this, not `providerArgs`

[2020-05-13 15:21] #56 closed

[2020-05-13 15:22] #54 closed

[2020-05-13 15:22] #53 closed

[2020-05-16 16:56] tshedor commented on #55
@MilesAdamson in your `Ticket.dart` model, how are you accessing `Template` or `Company`?

Ideally, they would look like this:

[code]

If `Template` and `Company`  are models in their own right, Brick should generate a `Template.fromRest`. But if they're not declared at all, they won't appear in the adapter

[2020-05-16 17:32] tshedor commented on #52
Hey @pkozlovskiy [I've got a branch](https://github.com/greenbits/brick/tree/sqlite-ffi) for you to test run. Would you mind letting me know if it covers all your use cases?

Example implementation:

[code]

You'll also want to [init the loader](https://github.com/tekartik/sqflite/tree/master/sqflite_common_ffi) before invoking:

[code]

[2020-05-19 06:27] pkozlovskiy opened #57 "Multi level in 'fromKey'"
Backend service send me data as
[code]
I want to specify one common fromKey for RestProvider('result') and another one for each model(items), or have ability to specify fromKey as path 'result/items'.

[2020-05-19 21:19] MilesAdamson commented on #55
I'm not sure if it had something to do with the class hierarchy I had, but I have since fixed this issue by deleting the `TicketStub` class and just letting company and template be null if the ticket is a "stub".

Template and Company are both `Identifiable`, and both had adapters created properly. Issue was, in the `_$TicketFromRest` method `data` was missing them. But with just `Ticket extends I

[2020-05-20 08:16] pkozlovskiy opened #58 "Crash on upsert with nullable object"
I have field in my model
@Rest(nullable: true)
final Attachment logoAttachment;

When trying upsert with null value get error:
Unhandled Exception: Unhandled error type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Attachment'
In _$SoemThingToRest in adapter on line

'logoAttachment':
        await AttachmentAdapter().toRest(instance.logoAttachment ?? {}),

[2020-05-21 20:08] tshedor commented on #55
Interesting...there must be something in the way analyzer detects the class. There must be a way to keep going further up the tree and detect if `OfflineFirstWithRestModel` is a super at _any_ point. I'll do some digging.

[2020-05-21 20:10] tshedor commented on #58
@pkozlovskiy that doesn't look like a null value, it looks like a serializer error. This is a very silly Brick bug in the generators. Let me get a quick fix together.

[2020-05-22 18:07] MilesAdamson opened #60 "Is there any way to tell why I got an empty array from a get?"
Issue: when I'm loading a list of jobs with `requireRemote = true`, I get an empty list of jobs when any error happens at all. An empty list of jobs due to no work to be done and an empty list because there was an http error is very different.

I would like to be able to catch http errors or at least receive `null` to know something went wrong. Is this possible?

[2020-05-22 18:16] tshedor commented on #60
@MilesAdamson is your API returning a 200-level status code when you get an empty list of jobs? Is "any error happens at all" in reference to the error occurring on the client or the API?

[2020-05-24 17:38] #58 closed

[2020-05-25 20:08] MilesAdamson commented on #60
Yes, the api returns 200 ok for an empty list of jobs. The issue is, it seems like most errors will result in this as well.

- 400 bad request when doing the api call
- no response from server at all
- 500 server error

Take this code for example:

[code]
          restProvider: RestProvider(
            "https://qwertrgwefqyuiop.ca/api/v2",
            modelDictionary: restModelDictionary,

[2020-05-25 22:57] tshedor commented on #60
@MilesAdamson does removing the extra `toList()` in `jobs.toList()` resolve your empty list issue? Is `400` in your [reattemptForStatusCodes](https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/lib/offline_first_with_rest.dart#L69)? The request may be being swallowed and reattempted in the background.

Regarding your issue for "I can even make the URL complete nonsense," ha

[2020-05-26 21:01] #52 closed

[2020-05-26 21:10] MilesAdamson commented on #60
I have not edited `reattemptForStatusCodes`. I did not configure the repository to throw for 404's, however it would be good to do so. This causes loading by id to throw as I would want, but still a nonsense URL or internal server error yields me an empty list of jobs

![image](https://user-images.githubusercontent.com/29047682/82950670-ecff7f00-9f62-11ea-827c-f3156048bf20.png)

[2020-05-26 21:19] tshedor commented on #60
@MilesAdamson does removing the extra toList() in jobs.toList() resolve your empty list issue?

[2020-05-26 21:43] MilesAdamson commented on #60
Unfortunately, it does not. I still get an empty list from brick

![image](https://user-images.githubusercontent.com/29047682/82953037-51bcd880-9f67-11ea-8bda-165eea976abb.png)

![image](https://user-images.githubusercontent.com/29047682/82953045-541f3280-9f67-11ea-9158-cf7c90f80201.png)

[2020-05-27 00:58] tshedor commented on #60
@MilesAdamson thanks for your patience debugging. I wanted to exhaust the obvious culprits before diving in.

In the `SqliteProvider` source, when no models are found, [an empty list is returned](https://github.com/greenbits/brick/blob/master/packages/brick_sqlite/lib/sqlite.dart#L215-L218). IIRC, this is to reduce the nullability checks in subsequent operations. Since `requireRemote` only guarant

[2020-05-29 18:59] MilesAdamson commented on #60
No worries, thanks for the plugin haha. It is working very well still.

Ok, that's interesting. What happens in my case is I have a list of jobs. If that request fails, instead of seeing the jobs which they already had loaded, they see nothing. So, the workaround for now is if I get an empty list from a get, I just yield with that already in state.

Not crazy about it but it does seem to do the tr

[2020-06-02 00:32] tshedor commented on #60
This is getting into application code now, but you could also add a `copyWith` method to `JobsLoaded`:

[code]

[2020-06-02 12:13] pkozlovskiy opened #65 "Relationships"
If I have two models
class Project extends OfflineFirstWithRestModel {
  @Sqlite(unique: true)
  final String id;
...

class Job extends OfflineFirstWithRestModel {
  @Sqlite(unique: true)
  final String id;
  final String projectId;
...
What is the best way to get

class ProjectWithJobs {
  final Project project;
  final List<Job> jobs;

  ProjectWithJobs(this.project, this.jobs);
}

for presenta

[2020-06-07 20:08] tshedor commented on #65
Hey @pkozlovskiy I think the best way to do that would be to access one model instead of doing a joins.

[code]

This assumes that your Project REST response resembles this:

[code]

And that your `/jobs` endpoint has member access (i.e. `jobs/1`, `jobs/2`)

[2020-06-07 20:08] tshedor commented on #60
@MilesAdamson going to close this out but please open a new issue if the above code doesn't work for you.

[2020-06-07 20:08] #60 closed

[2020-06-07 20:21] tshedor commented on #57
@pkozlovskiy as of right now, there aren't plans to incorporate this because it adds an extra layer of complexity. For the time being, try out [allow-convert-json-overrides](https://github.com/greenbits/brick/pull/66) and add this code to your repository:

[code]

If this feature request receives more attention and ups from the community, I'll look at a more wholistic and sustainable solution. In

[2020-06-07 20:28] tshedor commented on #55
@MilesAdamson can you please give https://github.com/greenbits/brick/pull/67 a test? I think that should fix this.

[2020-06-08 01:25] Jeremywhiteley opened #68 "Flutter web support"
Any plans to support Flutter web?   Perhaps using sql-wasm.js as in this code example?

https://github.com/rodydavis/moor_shared/tree/master/web

[2020-06-08 15:22] tshedor commented on #68
Hey @Jeremywhiteley there aren't current plans to support SQLite on the web until there's a suitable solution in [sqflite, which has a long running thread about this](https://github.com/tekartik/sqflite/issues/212). However, there looks like some very recent experimental work being done on [this repo](https://github.com/deakjahn/sqflite_web). If you want to give that a go, you just need to define

[2020-06-09 19:20] pkozlovskiy commented on #57
Ok, i did same things in my fork!

[2020-06-09 19:32] pkozlovskiy commented on #65
This is nice way in many situation, but if I can't change backend api, and it can't send me job_ids in /projects

[2020-06-11 07:27] pkozlovskiy commented on #65
Thanks, I try to use this case!

[2020-06-15 15:17] #55 closed

[2020-07-01 06:44] #68 closed

[2020-07-01 06:44] #65 closed

[2020-07-22 11:02] papakay opened #84 "Can Brick Sync Data from SQLProvider to RestProvider?"

[2020-07-27 18:00] tshedor commented on #84
@papakay yes. When you run `MyRepository().upsert<Model>(modelInstance)`  (given `MyRepository extends OfflineFirstWithRestRepository`) the `modelInstance` is synced with both your local SQLite and your REST endpoint.

If you're offline when that method is invoked, the transmitted data is cached and reattempted until it receives a response from the RestProvider.

[2020-07-27 18:09] papakay commented on #84
This is super awesome! I'm so glad to hear this. Thank you a lot @tshedor

[2020-07-27 18:09] #84 closed

[2020-08-07 16:29] polRk opened #86 "Can't build the app"
[code]

[2020-08-09 18:18] tshedor commented on #86
Hi @polRk this looks like you're not building the example app. From this snippet, there are no errors. Are you able to share any additional code or log messaging, such as the point of crash when you run `flutter build`?

And assuming `dto` stands for "data transfer object," Brick builds data transfer objects automatically as adapters. Your models should represent data in its end state.

[2020-08-13 00:11] tshedor commented on #86
@polRk if you're using Flutter >1.20, there are a number of `build_runner` [issues floating](https://github.com/flutter/flutter/issues/63556) around. For example, [hive](https://github.com/hivedb/hive/issues/387#issuecomment-663900752), [json_serializable](https://github.com/flutter/flutter/issues/62240), and [flutter](https://github.com/flutter/flutter/issues/62996).

For the time being, I would

[2020-08-13 11:06] polRk commented on #86
Thank you! It's work!

[2020-08-13 11:06] #86 closed

[2020-08-14 07:53] pkozlovskiy opened #87 "Expected an identifier after flutter upgrade"
Get
flutter/bin/cache/dart-sdk/lib/core/uri.dart:3259:39 - Expected an identifier.
[SEVERE] brick_offline_first_with_rest_build:brickAdaptersBuilder on

After flutter upgrade

[✓] Flutter (Channel stable, 1.20.2, on Linux, locale en_US.UTF-8)
    • Flutter version 1.20.2 at /home/pako/flutter
    • Framework revision bbfbf1770c (16 hours ago), 2020-08-13 08:33:09 -0700
    • Engine revision 9d5b21

[2020-08-19 20:03] tshedor commented on #87
@pkozlovskiy can you try the resolution steps here: https://github.com/greenbits/brick/issues/86 ?

[2020-08-20 18:13] guilhermedaldim opened #88 "How to send parameters to the API endpoint?"
I'm using the OfflineFirstWithRestModel in my application, but I still couldn't configure my model in the expected way.

What is the correct way to send parameters to the API endpoint? I need to filter calls according to some fields returned by the endpoints

I've tried to send by query -> providerArgs and query -> where. But in both cases, when the app is offline I don't get a response from the d

[2020-08-26 14:09] pkozlovskiy commented on #87
Thanks, it helps

[2020-08-26 14:27] pkozlovskiy opened #89 "How to properly change associated data"
I use associations like in example
  @OfflineFirst(where: {'id': "data['pizza_ids']"})
  @Rest(name: 'pizza_ids')
  final List<Pizza> pizzas;

First I upsert Customer with some pizzas, and then I want to change his list of pizzas, I try to upsert this Customer with new list of pizzas, but when I fetch this customer after that it has ALL pizzas from first and second lists, but I expect only second.

[2020-08-26 20:24] tshedor commented on #88
@guilhermedaldim by parameters do you mean a payload? In that case, the payload is generated by the fields on your model. You can see how the REST format is composed by reviewing the `lib/app/adapters/<model_name>_adapter.g.dart` directory.

If you mean query string parameters (i.e. `example.com?limit=40&page=2`), those are [composed by your `endpoint` generators](https://github.com/greenbits/bric

[2020-08-26 20:25] #87 closed

[2020-08-27 17:20] guilhermedaldim commented on #88
@tshedor , thanks for the reply.

They would be query string parameters, I was able to use the endpoint generator to create the endpoint correctly, however, depending on the query these data would have to be variable (eg status = 'Ok', in another time, status = 'Error') .

But, the status field doesn't need to be saved in sqlite, so I don't have that field in my model. Would I have how to make thi

[2020-08-27 20:25] tshedor commented on #88
@guilhermedaldim ah, I see. So it's the response _to_ your API request. Does the API return a status code of 200/201/204 when you have a status = 'Error'?

[2020-08-27 20:29] tshedor commented on #89
@pkozlovskiy how are you mutating the list of pizzas? I would recommend an immutable approach:

[code]

[2020-08-28 09:03] porfirioribeiro opened #91 "Store in sqlite parameters used to rest so we can query from db"
I have requests that are queried with some parameter, and that parameter is sent to the rest endpoint as a query parameter.
But that endpoint result does not include that parameter, so it makes it impossible to query it from the database.

In some situations i ended up changing the backend to include that parameter as a field in the response, but in this case would be hard to do it.

I have here a

[2020-08-28 11:08] guilhermedaldim commented on #88
@tshedor yes, I get the answer with code 200 from my API. The response to the request is happening in the correct way.

The "status" field would be just an example of query string parameters and not necessarily the statusCode of the API return.

[2020-08-29 05:43] tshedor commented on #88
Gotcha. Thank you for clarifying. In this case, you would want to use providerArgs.

To answer your initial question, your DB should have the same response data as what you receive from your rest endpoint.

I have noticed that the recent flutter upgrade (from 1.17 to 1.20) introduced a significantly longer wait for round trip requests - I.e. get requests when hydrateUnexisting: true and all upset

[2020-08-29 05:58] tshedor commented on #91
Hey @porfirioribeiro good to hear from you again. I’m typing on a tiny keyboard so please excuse the formatting.

I think what would be best here are using non-final fields:

[code]

This way, you could declare parentId in the superclass that Entity would extend. This is how primaryKey is accessible and saved on every SqliteModel.

Alternatively, because I have a feeling this may not be exactly wh

[2020-08-29 17:25] porfirioribeiro commented on #91
Thanks for your quick answer @tshedor

I found a way to make it work by passing `seedOnly`, without it i would always get 0 results, and then store it again on sqlite after setting the `parentId`.

[code]

It works, but it's a bummer that i have to store it again on Sqlite right after getting it and saving it.
What i was trying to achieve was be able to do something between the data came from Rest

[2020-08-31 15:44] tshedor commented on #91
@porfirioribeiro You're right, there aren't arguments for query on the `Save` hooks. Sorry, I steered you in the wrong direction there.

I have some concerns about including `query` from an architectural view:

* The query should only interact with the provider/repository and should be resolved before data is transmitted to a provider. For this reason, a model should only be aware of data and inst

[2020-08-31 17:31] porfirioribeiro commented on #91
I think `#getAssociation` is only called if the model actually have any model association, which is not the case. And that function is not called. Solving this at the repository level would probably not be the best place, i don't know.

I understand the situation, managing to keep all this abstractions working together is not easy, and I'm very thankful for all the work you are putting on this. I'

[2020-09-01 16:55] guilhermedaldim commented on #88
I was able to pass the parameters using providerArgs and got a success response, even though this parameter is not being saved in my DB, maybe I don't need to have my parameters saved in my DB, using providerArgs.

Responding to the suggestion of setting your .get (hydrateUnexisting: false), it resolves, in part, when the app is offline I get the data the way i expected, it shows the data from my

[2020-10-01 20:24] tshedor commented on #87
@pkozlovskiy if you encounter a similar build issue in 1.22, try removing the hard dependency on `analyzer` and running `flutter pub upgrade`

[2020-10-01 20:24] tshedor commented on #86
@polRk if you encounter a similar build issue in 1.22, try removing the hard dependency on `analyzer` and running `flutter pub upgrade`

[2020-10-01 20:24] #89 closed

[2020-10-26 11:34] a1r93 opened #95 "How to force SQLite to synchronize with the data coming from remote"
Hi, we're currently trying to find a way to implement the following use-case using brick:
- We create a resource from the web interface and get it in the mobile app (works)
- We create a second resource from the web interface and get it in the mobile app (the list gets updated correctly)
- We now delete the first resource from the web interface and perform a GET request.

What we can see is that t

[2020-10-26 21:55] tshedor commented on #95
@a1r93 Hello, thanks for using brick. I would make sure that your data is synced with an identifier between both your client, your web, and your server. For example, an autoincrement `id` in your server's database table. Or a UUID that you generate from one of your consumers. Specify that identifier in your Brick model with `@Sqlite(unique: true)` and Brick will update instead of insert on subsequ

[2020-11-04 01:05] tshedor commented on #95
Closing this issue due to inactivity

[2020-11-04 01:05] #95 closed

[2020-11-13 07:40] tshedor commented on #88
@guilhermedaldim Sorry for this extreme, I thought this issue was waiting on your response when really it was waiting on mine.

After a little more experimenting (and by a little, I mean two months), the Flutter change seems to have removed the default timeout, or at least its extended it. What I've found works is appending a `.timeout(Duration(seconds: x))` to your `.get` invocations.

For `.get(

[2020-11-17 02:02] cleanstartgit opened #100 "REST API Authentication with OAuth or JWT Token"
Is there a way to configure the Brick RestProvider to handle authentication with the API endpoint?

As an example, I have a published web API, but it only responds to authorized app requests. To authenticate, our app will need to send a POST to /token with encrypted credentials in body. If validated, the API returns a token good for 4 hours. On all subsequent requests, the app will include this to

[2020-11-17 20:05] tshedor commented on #100
@cleanstartgit thanks for using brick.

You should retrieve the token and then store it on the default headers that will be accessed when making subsequent requests:

[code]

[2020-11-17 20:48] cleanstartgit commented on #100
@tshedor Thank you for the quick response!

I saw the defaultHeaders field in the docs late last night, but I couldn't figure out how to access/set them. Thank you for the insight.

This is such an amazing app, kudos to you and the team. I will gladly buy you guys pizzas and beer next time I'm out that way!

[2020-11-17 20:48] #100 closed

[2020-11-25 17:32] cleanstartgit opened #101 "Question: Best practices for handling Offline/Rest with nested objects"
Hi @tshedor , got another question for you.

I'm working with an existing API. I'm dealing with an endpoint that returns a list of Share objects. The attached is an example of the JSON result. Is this supported by Brick, and if so, how would I go about telling the REST provider to parse JSON from the response, and not to perform get() on the /request,  /member,  or /update endpoints?

Side note: I

[2020-11-25 18:41] tshedor commented on #101
Hey @cleanstartgit to ignore specific endpoints, adjust your `endpoint` to return [null or to only target a specific endpoint](https://pub.dev/documentation/brick_rest/latest/rest/RestSerializable/endpoint.html). When you return `null` from `endpoint`, RestProvider does not make the request to your API.

[code]

I would avoid tweaking hydration logic unless you've exhausted all other options.

[2020-11-28 13:06] polRk opened #102 "Delete error: cannot be deleted because it does not exist in the SQLite database."
My code
[code]

[code]

But in sqlite the object exists

<img width="419" alt="Screenshot 2020-11-28 at 16 04 56" src="https://user-images.githubusercontent.com/39828645/100516220-76eb0780-3193-11eb-94e8-f661ddf06130.png">

[2020-11-29 23:02] tshedor commented on #102
Hey @polRk good to hear from you again.

Based on the source code where that exception is thrown, I would expect that the `task` you're passing has not had the primary key (`task.primaryKey`) associated to it.

My best guess for why this is happening here starts with the `Dto` in your model name. I assume that `TaskDto` is not the end model and is instead a gobetween for `Task`. Brick's generated

[2020-11-30 09:32] polRk commented on #102
Thank you, @tshedor !
Yes, primaryKey is missing.
[code]

[2020-11-30 09:37] polRk commented on #102
I found an error, the error was in the data encoder/decoder. After encoding, the primary key disappeared.

[code]

[2020-11-30 09:55] polRk commented on #102
@tshedor Can you explain why I should use instance != null? Because without this, null may come and the application returns an error.

[code]

[2020-11-30 19:31] #101 closed

[2020-11-30 21:14] tshedor commented on #102
@polRk In the future, if the issue is about a new concern, please open a new issue. I'll address this one here this time.

I don't understand the question, as you've answered it. Calling `.id` on `null` will throw an exception, you're right. So we need to ensure that `instance != null`.

[2020-12-04 04:41] SubutaDan opened #103 "Not Seeing Customers"
I worked through the example by following the tutorial on "Flutter by Example" and so far I have not seen any customers in my Flutter app.  The app builds cleanly (after I remove the pizza import mentioned below), and starts and runs without incident. When it starts I get the "migrating message".  Then some print statements I added tell me that it is inside the migrated==true builder but customerL

[2020-12-06 18:31] tshedor commented on #103
Hey @SubutaDan , a few things I would do to debug this.

I think you're right, that there's some cached data it's querying. Brick by default will get fresh data if none exists (`hydrateUnexisting`), so I'm not sure that there are _no_ rows in SQLite, just _empty_ rows.

You can force Brick to always fetch from the API by passing `requireRemote` to the `.get` method. If `requireRemote: true` is in

[2020-12-10 08:38] #102 closed

[2020-12-10 08:41] polRk opened #104 "Error in RestSerializable when hydrating after deletion"
TaskDto
[code]

flutter: FINEST: 2020-12-10 11:37:36.095433: #delete: url= statusCode=200 body=
flutter: FINEST: 2020-12-10 11:37:36.096858: #hydrate: TaskDto {"action":4,"providerArgs":{}}
[VERBOSE-2:ui_dart_state.cc(177)] Unhandled Exception: NoSuchMethodError: The getter 'id' was called on null.
Receiver: null
Tried calling: id

Error in this line

[code]

[2020-12-11 08:43] polRk opened #105 "SqliteProvider.resetDb() doesn't delete bricks HttpJobs table"
<img width="345" alt="Screenshot 2020-12-11 at 11 42 56" src="https://user-images.githubusercontent.com/39828645/101881818-05a15080-3ba6-11eb-9dc2-4f1e9033173d.png">

[2020-12-11 08:52] polRk commented on #105
Apparently brick writes headers to the HttpJobs table, and there the Authorization header has an expired token

[2020-12-11 08:56] polRk commented on #105
brick_offline_first-0.1.0/lib/src/offline_queue/offline_request_queue.dart
[code]

[2020-12-12 16:43] tshedor commented on #104
Hey @polRk, that means that you're passing in a `null` instance when you invoke `delete<TaskDto>(.....your instance....)`. You should either make sure the instance is not null or `return null` when instance is null. For example:

[code]

However, again, I would encourage you to treat the Adapter as your Data Transfer Object. The generated code translates to and from multiple sources, which is the

[2020-12-12 16:50] tshedor commented on #105
@polRk That's correct. `SqliteProvider` manages SqliteModels from the repository. `HttpJobs` is not part of the logic domain; it only contains generated HTTP requests.

If you want to delete all jobs in the `HttpJobs` table (note that this will be unrecoverable):

[code]

[2020-12-12 17:13] polRk commented on #104
@tshedor Thank you! Delete request is ok, but error in hydrate block.

In my code, I can't find where I pass a null.

[code]

[code]

[code]

[2020-12-12 17:18] polRk commented on #105
Thank you, @tshedor !

[2020-12-12 17:18] #105 closed

[2020-12-12 21:02] tshedor commented on #104
@polRk The code you originally posted looks like it's from the `endpoint` configuration. Is that correct? What is the hydrate block error?

The code snippets you've provided aren't filtering out null objects. Are you certain that one of these entities is not `null`?

[2020-12-12 23:13] SubutaDan commented on #103
Hi @tshedor , I started over and I'm not getting data now whether requireRemote is true or false.  A print statement in main reports that  customers is empty.  I can see from another print statement in customer_adapter.g.dart that /customers with no id is being returned from the final case (instance == null).  I added two more print statements to to see whether Rest or SQLite was being used:

[cod

[2020-12-13 13:06] SubutaDan commented on #103
Hi @tshedor , I'm getting results in the app now whether or not I set `requireRemote: true`. As near as I can tell, the problem had to do with something being incorrect or out of sync in the SQLite data.  I have been re-initializing the SQLite data store (at least I think I have) by explicitly deleting the app from the emulated phone.  I think I remember reading  about a way to reinitialise the SQ

[2020-12-14 06:07] polRk commented on #104
@tshedor

Yes, i'm sure.

Brick has autoHydrate logic. After delete request is followed by hydrate

[2020-12-16 21:21] tshedor commented on #104
@polRk based on the code you've submitted, an entity is in fact null somewhere, otherwise it wouldn't be throwing the error. Have you set up debugging for all exceptions? Are you able to narrow the break using the stack trace reported by a Flutter IDE plugin, like the one in VS Code? Or are you able to see the full exception stack in the terminal when using `flutter run`?

[2020-12-16 21:21] tshedor commented on #104
@polRk based on the code you've submitted, an entity is in fact null somewhere, otherwise it wouldn't be throwing the error. Have you set up debugging for all exceptions? Are you able to narrow the break using the stack trace reported by a Flutter IDE plugin, like the one in VS Code? Or are you able to see the full exception stack in the terminal when using `flutter run`?

[2020-12-16 21:26] tshedor commented on #103
@SubutaDan ahh great catch. I've written a poor API. The member endpoint is camel case while the collection endpoint is snake. I'll open a PR immediately.

Regarding the SQLite information, do any of these help?
* [SQLite testing](https://github.com/greenbits/brick/blob/master/packages/brick_sqlite/README.md#testing)
* [Stubbing OfflineFirst endpoints](https://github.com/greenbits/brick/blob/maste

[2020-12-17 00:57] SubutaDan commented on #103
Thanks, @tshedor . -Dan

[2020-12-17 01:15] SubutaDan opened #106 "Bi-Modal Data Access"
The data that is returned by my API may be changed (items added, updated and deleted) from outside of my app.  I am looking for a way to resync the contents of the applications's Brick sqlite database from REST from time to time to reflect those external changes.  I think I can force new items to be added to the sqlite database and existing items to be updated in the sqlite database by doing a get

[2020-12-20 19:55] tshedor commented on #106
@SubutaDan to answer this question directly, correct, a `get` won't remove stale data. As APIs can be paginated or filtered, just because the response does not include a model that exists locally, there isn't a guarantee that the model instance was deleted on the server. So `get` only `get`s model instances.

For the less direct answer, this problem of data sync issue is a regular question, and on

[2020-12-20 19:57] #103 closed

[2020-12-20 19:59] tshedor commented on #91
Closing because of workaround

[2020-12-20 19:59] #91 closed

[2020-12-20 19:59] tshedor commented on #88
Closing due to inactivity

[2020-12-20 19:59] #88 closed

[2020-12-22 09:58] polRk commented on #104
@tshedor
[code]

[2020-12-22 21:30] tshedor commented on #104
@polRk it would appear that you're querying an association improperly from the API.

This is throwing on the association method, which means that at some point your `restEndpoint` is expecting an instance to use but is not receiving one. This could mean that a query to a member endpoint (e.g. `tasks/${instance.id}`) failed or that your default endpoint is returning an expected, unparseable respons

[2020-12-23 22:50] SubutaDan commented on #106
Hi @tshedor,

Thanks for the reply and also for sharing your thoughts about synchronization.  I don't have anything resembling a complete answer, but I am happy to provide some suggestions based on what I think I need for my applications.  First, though, I will mention a few assumptions that underlie my suggestions.  If the assumptions are incorrect then there is a good chance that the suggestions

[2020-12-24 09:01] pkozlovskiy opened #111 "Problem with headersForQuery"
Hi!
I use my http client for RestProvider where i get actual token and add Authorization header BUT in this way offlineRequestQueue was broken, because in OfflineQueueHttpClient we cache request (without auth header) and only after call
 _inner.send
wich add new Authorization header, and there fore RequestSqliteCache cant`t delete success response because headers not the same(
I try use defaultHea

[2020-12-24 09:35] polRk commented on #111
It's little fix.

- Save old headers;
- Add new headers;
- Send request
- Wait response
- Remove new headers
- Return response

[code]

[2020-12-24 10:14] polRk commented on #104
Just why do hydrate after successfully removing the recurrence rule

<img width="1639" alt="Screenshot 2020-12-24 at 13 14 04" src="https://user-images.githubusercontent.com/39828645/103081855-e7961000-45e9-11eb-85db-d98f7a278577.png">

[2020-12-24 10:43] polRk commented on #104
What does brick expect after successful deletion ?

[2020-12-24 20:18] polRk opened #112 "How can i delete associations in database"
One Task has many project.

[code]
If I delete all projects
[code]
call update<Task>
[code]
And
brick does not delete the associations in the database

[2020-12-25 09:06] polRk commented on #104
This bug is related to the search request in the offline queue table #111

[2020-12-25 09:06] #104 closed

[2020-12-26 13:42] mrmeyers99 opened #113 "Best practices on managing ids"
The tutorials don't really mention how the application ids are managed.  It looks like brick uses an internal primary key, but in the pizza example, there is also an application level id that is also used in the rest calls.  Are there any best practices on managing those ids?

Ideally that id would not be generated by the flutter client, as two different clients could create conflicting records wi

[2020-12-26 14:07] polRk commented on #111
Brick use this headers ```{"content-type":"text/plain; charset=utf-8"}```, but we removed all headers in the request.

[2020-12-26 14:17] polRk commented on #111
<img width="558" alt="Screenshot 2020-12-26 at 17 16 11" src="https://user-images.githubusercontent.com/39828645/103153012-47cdb300-479e-11eb-963f-837793a4c5bd.png">

[2020-12-26 14:47] polRk commented on #111
But if you want to use providerArgs with custom httpClient, you should add

[code]

[2020-12-26 18:59] tshedor commented on #111
Thanks @polRk for helping out with this one!

@pkozlovskiy Are you subclassing `RequestSqliteCache`? It sounds like you might be if you're mutating the headers on subsequent retries.

In this use case, I would instead recommend `implements` over `extends` so that you're not storing the headers or making SQLite queries based on the headers.

I hadn't anticipated this sort of usage, so my other sugg

[2020-12-26 19:19] mrmeyers99 opened #114 "Best practices for managing server's database schema and objects"
The documentation doesn't cover much about implementing the server for the REST endpoints.  I'm wondering if it would be a good idea to somehow share the model and the persistence code between the flutter app and the central rest server that clients are syncing too.  I think I'd have to write a mysql provider for brick since it's not a good idea to run a sqlite database in production, and I'd need

[2020-12-26 19:21] tshedor commented on #113
Hey @mrmeyers99 thanks for using Brick.

Brick does use an internal primary key, and that key should not be managed by application code. This key is also **not** transmitted to Rest. It's a SQLite-only key. There is one caveat on where your application code should access this `primaryKey`: when the instance is being copied, like in the MaterialTheme TextTheme sense:

[code]

Regarding identifying

[2020-12-26 19:29] tshedor commented on #112
@polRk that is...a very good question. I'd have to create a test case, but I think you're right that Brick doesn't remap updated associations. I'll have to get back to you about this one because it'll likely require a fix in Brick.

[2020-12-26 19:35] tshedor commented on #114
@mrmeyers99 I would use a lot of caution when sharing the same code between server and client, as some data should not be exposed to the client and some client methods would just muddy the server (see ["Provide an all-encompassing solution"](https://github.com/greenbits/brick/issues/106#issuecomment-748658030)). That's not to say the same models could inherit from the same super class, and they co

[2020-12-26 20:36] polRk commented on #112
Demo stand

[listta-demo-stand-master.tar.gz](https://github.com/greenbits/brick/files/5743603/listta-demo-stand-master.tar.gz)

[2020-12-26 20:39] tshedor commented on #112
Hey @polRk for security reasons, I'd prefer to not unzip a tarball. Can you please open a PR or a gist instead with a description of what you're sharing?

[2020-12-26 20:47] polRk commented on #112
https://github.com/polRk/listta-demo-stand

[2020-12-27 01:48] mrmeyers99 commented on #113
Thanks for the suggestion.  I think you're right, UUID's are probably the best bet for my use case.

As far as documentation, I think a section between `Providers and Repositories` and `Learn` that talks about the server side considerations would be nice.  Also, maybe more complete server side code in the example project that shows creating a pizza would help.

[2020-12-28 16:43] polRk commented on #112
@tshedor  Maybe beforeSave, afterSave, my help?

[2020-12-29 22:08] mrmeyers99 commented on #114
Thanks, that is helpful, I'll follow that PR.

[2020-12-29 22:08] #114 closed

[2020-12-29 22:29] mrmeyers99 opened #115 "Associations are not being sent to rest endpoint"
I'm confused how adding children of a parent object is supposed to work.  In the example project I added the following code to the top of the `build` method in `_MyHomePageState`.

[code]

 The app does not ever post to `/pizzas`.  If I upsert the pizza first, then it does, but brick isn't sending any information to the rest server that tells it which customer the pizza is associated to.  Am I doi

[2021-01-02 22:04] tshedor commented on #115
@mrmeyers99 The app doesn't post to `/pizzas` because you're upserting a customer. You should revise your upsert to include the type - `upsert<Customer>(customers[0])`. It will only notify the `/customers` endpoint, or whatever is defined in `endpoint:`.

However, depending on how the association is defined, pizza data will be transmitted.

Since the association is [defined with an `OfflineFirstWh

[2021-01-02 22:37] tshedor commented on #106
@SubutaDan

Your assumptions are all correct, and you've done a great job of explaining them.

To your suggestions

In this scenario, it sounds like you're only querying one provider, in which case would accessing that provider instead of using a repository method be sufficient? e.g. `MyRepository().sqliteProvider.delete<Pizza>(pizza)`? Of course, when to sync this data becomes a new problem. Even

[2021-01-03 02:44] mrmeyers99 commented on #115
Ok, I assumed that since the upsert was saving both the new pizza and the association in the client that it would also handle creating the pizza on the server, but my assumption was wrong.  Brick won't send any event for just the new association?  This seems a little confusing because my endpoint that saves the pizzas needs to allow a nullable foreign key to the customer until the customer upsert

[2021-01-03 14:35] SubutaDan commented on #106
Hi @tshedor ,

Thanks for the thoughtful reply.

Yes, I find the discussion both interesting and useful.  Ultimately I would like arrive at an understanding of how my application can re-sync its SQLite data from time to time with the data as resented by the REST provider.

You are correct that I am only querying one provider. I would be happy enough going to the provider directly as opposed to wor

[2021-01-03 17:19] SubutaDan opened #116 "Query Argument for Get Method"
Hello,
I want to pass an entity to a Repository.get method so I can use a field from the entity as a query parameter.  From the example program on Flutter by Example it seems that I should be able to do that, but my get method doesn't accept an instance variable:

`
//I can't do this:
`
`
Repository().get<MyModelType>(myModelInstance);
`
because I get:

_Too many positional arguments: 0 expected,

[2021-01-03 18:52] tshedor commented on #115
@mrmeyers99 Brick will send what's in the REST adapter.

What you want sounds like nested payloads. If you don't include the `@OfflineFirstWhere` annotation, the generated `ToRest` adapter produces a payload that [would be the same](https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/example/lib/app/adapters/kitchen_sink_adapter.g.dart#L78-L80) as if you were sending to the

[2021-01-03 18:59] tshedor commented on #116
@SubutaDan no, `get`ing an instance is not supported because, well, you already have that instance.

If you're trying to fetch the latest data of something, you can do a query based on Brick's internal primary key:

[code]

[2021-01-03 19:05] tshedor commented on #106
@SubutaDan

Yes. Primarily because if you ever choose to add or remove a provider, your refactor cost is substantially smaller. Even if [you're only accessing the SQLite provider through the repository](https://github.com/greenbits/brick/blob/6bdb7fa56767995c930b1f967a976fda77353af3/packages/brick_core/lib/src/model_repository.dart#L47-L70), accessing the provider through a layer of abstraction wi

[2021-01-03 21:09] SubutaDan commented on #116
Thanks, @tshedor , but my question is slightly different.  Sorry I wasn't more clear.

Is there a way to pass a URL query string argument to a get method:

https://myapiserver.com/cats?name=${i_want-to_pass_in_this_value}

If the method is a PUT or a POST I can use an instance field in the query string but I don''t know how to pass a value for a GET as there is no instance.

-Dan

[2021-01-04 00:56] tshedor commented on #116
@SubutaDan

Ah, I got you. Yes. `endpoint:` uses an [`instance` and `query` as its parameters](https://github.com/greenbits/brick/blob/master/packages/brick_rest/README.md#with-querywhere).

[code]

And then you'd invoke this:

[code]

Of course, it's up to you on how to handle the query operator, so `isExactly`, `contains`, `notEqual` will all be the same with the above implementation of `endpoin

[2021-01-04 12:28] SubutaDan commented on #116
Thanks, Tim. This makes sense and I will try it.

-Dan

On 4 January 2021 00:57:03 GMT, Tim Shedor <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-01-10 21:22] tshedor commented on #113
Resolving in #117

[2021-01-10 21:22] #113 closed

[2021-01-10 21:43] tshedor commented on #112
@polRk I think I've got a solution. Would you mind trying out [the branch from this PR](https://github.com/greenbits/brick/pull/119) and letting me know if this issue is resolved?

[code]

[2021-01-11 04:51] tshedor commented on #111
@pkozlovskiy With #122 merged I'm going to close, please reopen if you're still having trouble

[2021-01-11 04:51] #111 closed

[2021-01-11 04:56] tshedor commented on #115
@mrmeyers99 I'm going to close this issue for now; if this didn't work out for you please feel free to reopen.

[2021-01-11 04:56] #115 closed

[2021-01-17 06:15] carlos-labrador opened #124 "RuntimeSqliteColumnDefinition is not a type."
Hi @tshedor ,

I am getting some errors after generating adapters on latest Flutter stable channel, this is a new project.

**pubspec:**
[code]

[code]

Thanks in advance.

[2021-01-18 08:27] polRk commented on #112
Build with error

[code]

[2021-01-18 22:56] tshedor commented on #124
Hi @carlos-labrador , can you please try adding this? I'll sort those pubspec issues soon

[code]

[2021-01-18 23:10] tshedor commented on #116
Hi @SubutaDan could you please [give this mixin a try](https://github.com/greenbits/brick/pull/121/files#diff-846d1cac334f035bf435dacd34232da6f0e1522ed2c097684a5a39fd0c761a06)?

[2021-01-19 00:40] tshedor commented on #112
@polRk can you make sure your pubspec is pointed to the latest commits for both `brick_offline_first` and `brick_offline_first_with_rest_build`?

[2021-01-19 01:08] carlos-labrador commented on #124
Awesome @tshedor , it works.

[2021-01-19 01:09] #124 closed

[2021-01-19 01:25] tshedor commented on #124
@carlos-labrador great news. Please let me know how Brick works out for you.

I'll bump the offline first package soon. When it's > `0.1.0` (or if you define it from `git` in the pubspec), you can remove that dependency override.

[2021-01-19 01:32] carlos-labrador commented on #124
@tshedor ,
that sounds interesting , I'm looking forward to seeing the new version.
I've been using offline first package for a year or so  and it works great.

Thanks for your hardwork.

[2021-01-19 06:59] SubutaDan commented on #116
I'll try :)

On 18 January 2021 23:10:46 GMT, Tim Shedor <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-01-19 13:33] polRk commented on #112
After updating pubspec.lock

![Uploading Screenshot 2021-01-19 at 16.32.36.png…]()

[2021-01-20 03:29] tshedor commented on #112
@polRk what is the definition of `updateTask` and `getTask`? Are `Task`s tracked by the memory cache provider?

From the [tests in the PR](https://github.com/greenbits/brick/pull/119/files#diff-9dd5aad0f1cd1149bb6527969542e649f644891fb12f1d66bd15d35a57288b7cR55-R73):

[code]

[2021-01-24 13:36] polRk commented on #112
@tshedor This patch doesn't delete record in table `_brick_TaskDto_projects`

[2021-01-24 19:40] tshedor commented on #112
@polRk again, what is the definition of `updateTask` and `getTask`? Have you regenerated your adapters (you can verify this by making sure an equivalent of `await Future.wait<void>(idsToDelete?.map((id) async {` exists? Functional (and very narrow) example:

[code]

[2021-01-25 16:23] polRk commented on #112
My pubspec.lock

[code]

After `flutter pub run build_runner build --delete-conflicting-outputs` i checked my adapters and they don't have any  `idsToDelete `

[2021-01-25 16:37] polRk commented on #112
flutter pub upgrade get the latest version

[code]

 But in adapters i can not find any `idsToDelete `

[2021-01-25 16:55] tshedor commented on #112
Add a dependency override for brick SQLite generators pointing to this
branch

On Mon, Jan 25, 2021 at 08:37 Vladislav Polyakov <notifications@github.com>
wrote:

--
Tim Shedor
Greenbits – Software Engineer
tshedor@greenbits.com
<https://www.linkedin.com/company/greenbits/>
<https://www.facebook.com/greenbitscom/>
<https://www.instagram.com/greenbitscom/>  [image: -]
<https://twitter.com/greenbits

[2021-01-26 14:49] polRk commented on #112
Can you share working pubspec.yml?

[2021-01-26 14:55] polRk commented on #112
[code]

I think, you are missed single quote `a['f_ProjectDto_brick_id']`

[2021-01-26 15:41] polRk commented on #112
Yes, you missed single quotes.

Everything works as it should!

[2021-01-30 23:38] tshedor commented on #116
Closing this issue; confirmed working

[2021-01-30 23:38] #116 closed

[2021-01-31 00:41] tshedor commented on #106
Closing this per #121 and #117

[2021-01-31 00:42] #106 closed

[2021-02-02 02:37] tshedor opened #130 "Feedback on the new docs site"
Hey @SubutaDan @mrmeyers99 @polRk @cleanstartgit, I've finally put together a documentation website: https://greenbits.github.io/brick/#/

I'm pinging you because I've previously gone back and forth with each of you on issues that could have likely been resolved with better documentation and clarity. Hopefully this presentation will improve the experience for other users of Brick. Specifically, I'

[2021-02-02 11:19] polRk commented on #130
I didn't quite understand how to resolve conflicts?

Where can I specify a function that will say what is the source of truth (item from rest or from local database)?

[2021-02-03 11:28] porfirioribeiro commented on #130
Thanks for your effort, the site looks good and helps to have a place with all information well structured!

[2021-02-03 11:33] papakay commented on #130
This is really an amazing work. Thank you so much for the great effort and the excellent work you've done.

[2021-02-06 23:21] #112 closed

[2021-02-07 00:01] tshedor commented on #39
@porfirioribeiro I'm going to consolidate this issue to #42 and add a quick note for future readers of this ticket.

The author of SQFlite recommends avoiding the BLOB column type and instead storing the file/image and referencing the file path within SQLite: tekartik/sqflite#204

[2021-02-07 00:01] #39 closed

[2021-02-07 00:04] tshedor commented on #42
@porfirioribeiro good news, and hopefully not too late, I think I've got a functional solution to this in #44 . Would you mind giving it a trial for me?

You'll need to do a little dependency magic to use this branch in your `pubspec.yaml`:

[code]

[2021-02-07 00:28] tshedor commented on #130
@polRk Would you mind taking a look at #132 and letting me know if that documentation helps?

@porfirioribeiro @papakay thank you for the kind words, I really appreciate it

[2021-02-07 00:36] porfirioribeiro commented on #39
In my case I'm storing a a small thumbnail on database to give a placeholder while the user clicks to get the full image.

It's not recommended not store big blobs on any database.

[2021-02-07 00:37] porfirioribeiro commented on #42
That's good news! I'm not currently working on that part of the app, but I'll try to take some time to test it when I can!

Thanks!

[2021-02-09 07:48] pkozlovskiy opened #133 "Ability not to await of remoteProvider upsert"
According to the concept offline first i want immediately after sqliteProvider upsert get actual associations.
For example I show Customers with its pizzas, and then according with my UX change some pizza name and immediately(after sqliteProvider.upsert) show Customers with new pizzas.(I assume that pizzas has one to many relationships)

[2021-02-09 21:55] #130 closed

[2021-02-13 20:36] SubutaDan opened #135 "When are Requets Removed With "Offline First With Rest" Repository?"
Hello,
I have had trouble understanding this section of the doc:

_Offline First With Rest Repository
OfflineFirstWithRestRepository streamlines the REST integration with an OfflineFirstRepository. A serial queue is included to track REST requests in a separate SQLite database, only removing requests when a response is not returned from the host (i.e. the device has lost internet connectivity)._

[2021-02-14 02:56] tshedor commented on #135
@SubutaDan you're right, that's a typo. Nice catch.

[2021-02-14 02:59] tshedor commented on #133
@pkozlovskiy I'm a little bit torn on this functionality. On one hand I agree, the response should be immediate after reaching SQLite. On the other, I want to ensure that my single source of truth is updated as soon as it can be. Let me think on this a little longer and get back to you.

[2021-02-14 14:55] SubutaDan commented on #135
@tshedor , I have been puzzling over a related topic.  Under some error conditions I would like the request to be retained and retried later.  Under other error conditions I would want the request to be removed from the queue.  I guess whether the response is retained and later retried or removed from the queue depends on the http response.  Is that correct?

How do I tell Brick under what circums

[2021-02-14 15:54] SubutaDan opened #137 "Field Level Annotations"
Hi @tshedor ,

I have puzzled repeatedly over this section of the doc:

_**Annotations**
As providers are ultimately responsible for converting raw data into model data, a description of fields on models is overly generic. Field-level annotations always override class-level annotations/configuration. However, providers should adhere to some standards of annotations:_

After much head scratching he

[2021-02-14 18:03] tshedor commented on #135
@SubutaDan I added the trailing sentence to the documentation in the tagged commit above:

In short, you can modify the retry status codes by changing the value of `reattemptForStatusCodes`.

Re: new issue, I'd always prefer a new issue after the original query has been resolved. It helps keep the threads narrow (in case they need to be reviewed in the future), and the problems scoped.

That said,

[2021-02-14 18:03] #135 closed

[2021-02-14 18:18] tshedor commented on #137
@SubutaDan thanks for writing this up, I appreciate it. Notes below

Annotations should be bound to a specific provider or a specific repository paradigm. For example, `@Rest` does not affect `@Sqlite` and `@OfflineFirst` does not affect `@Rest` or `@Sqlite`. They should be strictly coupled to their domain.

By `occurrence` do you mean instance? This will seem very nitpicky, but I want to clarify

[2021-02-16 22:46] SubutaDan opened #138 "Table Not Found"
Hello,

I am using offline-first-with-rest. My app. has been working well with one model.  I added a second model ('Kokoer') and when I try to execute a query against it I get an exception:
[code]

If I remove the attempt to execute the query against the second model type the app again works as expected.

I am initiating queries against both models through the same Repository. I can see that the n

[2021-02-17 02:12] tshedor commented on #138
@SubutaDan I would expect failures in a couple of obvious places, without knowing the repository code:

In your repository class, when you call super, make sure you're passing migrations from `schema.g.dart`:
`super(migrations: migrations,)`

Make sure you're calling `MyRepository#initialize` in your code before accessing that table and it's `await`ed. And if you've changed the implementation of `

[2021-02-18 04:29] SubutaDan commented on #138
Thanks, @tshedor .  Problem seems to have been caused by my not awaiting the completion of super.initialize before trying to use the new model type.  -Dan

[2021-02-18 04:29] #138 closed

[2021-02-18 04:32] SubutaDan commented on #137
Thanks, @tshedor . I will try to improve my draft by applying your feedback. -Dan

[2021-02-21 20:44] tshedor commented on #42
Resolved in #44

[2021-02-21 20:44] #42 closed

[2021-02-21 22:08] SubutaDan commented on #137
Hi Tim,

At the bottom of this message is a new draft in which I have tried to incorporate your feedback.

-Dan
=====
**Annotations**
This section discusses Brick's built-in annotations that can be used on model fields.

Brick's field level annotations are applied selectively to the providers that process the annotated models. Annotations should be bound to a specific provider or a specific reposi

[2021-02-21 22:12] SubutaDan opened #140 "Improve My Understanding of Domains"
Hi @tshedor ,

I am still fuzzy about the definition of "domain".  The glossary says they are the encompassing system.  I think that Rest, Sqlite, Offline First, and Offline First with Rest are all  domains. Is that correct?  Does off-the-shelf Brick provide any other domains?

How is a domain manifested in the application code?   Is it something like "Each model that Brick will manage must have a

[2021-02-22 10:41] polRk opened #141 "Version solving failed"
[code]

[code]

[2021-02-22 10:57] polRk opened #142 "How can i change model for my repository"
I documentation, I can define my model, but I can't do it with `OfflineFirstWithRestRepository`

[code]

[2021-02-22 15:45] tshedor commented on #141
@polRk
[code]

[2021-02-22 16:04] polRk commented on #141
https://pub.dev/packages/brick_offline_first

[2021-02-22 16:20] tshedor commented on #141
@polRk got it, fixed

[2021-02-22 16:47] tshedor commented on #137
@SubutaDan that looks good to me. One more nit is that instead of bolding the annotations they should be wrapped in back-ticks to denote code. For example, instead of "**rest**" it should be `@Rest`.

Do you intend to open a PR with this documentation?

[2021-02-22 17:00] tshedor commented on #140
@SubutaDan

That is correct. Or, that those are _each_ a domain.

It does not

In app code, domains are repositories or models. The bulk of the domain is in the generators, which the application code rarely if ever is concerned with. I say rarely because you may customize a generator with `fromGenerator` or `toGenerator`.

Further, you should be primarily concerned with a single domain in app code

[2021-02-22 17:05] tshedor commented on #142
@polRk I don't quite understand the question. Are you attempting to do this?

[code]

[2021-02-22 17:41] polRk commented on #142
@tshedor Exactly!

[2021-02-22 17:52] #141 closed

[2021-03-05 11:55] polRk opened #150 "Links are not deleted"
Generator doesn't create methods in adapters for deleting associations

https://github.com/greenbits/brick/pull/119

[2021-03-07 11:40] polRk commented on #150
My mistake, I use the final field description, but I shouldn't do it.
https://greenbits.github.io/brick/#/sqlite/fields?id=updating-associations

[2021-03-07 11:40] #150 closed

[2021-03-18 11:44] mrmeyers99 opened #152 "Issue running flutter pub run build_runner run"
I'm getting an issue when trying to run `flutter pub run build_runner run` to generate my migrations/adapaters.  I've tried it both with the latest version of and with an older version.  I'm doing this using a Github Action.  Here's my workflow file:

[code]

Here's my dev depdendencies from my `pubspec.yml` file.

[code]

Here's the error that I'm getting when running this.

[code]

I've also tri

[2021-03-21 18:59] tshedor commented on #152
@mrmeyers99 Sorry about all this confusion. The null safety migration has a long tail. The core team recently published a null safe `build` and `source_gen` package (recent being last week), which is used by Brick to generate adapters, and I'm trying to play catchup. I've got a good start, but these upgrades aren't just null safety, they're also deprecations, so this knot is hard to untie.

I have

[2021-03-21 19:00] tshedor commented on #142
@polRk I'm not quite sure why this doesn't work. The analyzer has changed in Dart 2.12; I'll come back to this after the null safety migration

[2021-03-23 23:21] Xitaris27 opened #157 "Default authorization header"
Is there a way to gracefully handle default headers? I have to add an Authorization header to the queries in order to get data from my REST API server and I'd love to not have to explicitly set the header for each query.

Also, it creates an issue when I'm trying to use associations since the queries created in the adapters because they aren't given necessary authorization header. I'd rather not e

[2021-03-24 00:25] tshedor commented on #157
@Xitaris27 thanks for using Brick.

You can set a `defaultHeader` on your [RestProvider](https://github.com/greenbits/brick/blob/master/packages/brick_rest/lib/src/rest_provider.dart#L21). If you're using `OfflineFirstWithRestRepository`, you can do that like so:

[code]

It doesn't have to be in `initialize` either: you can call it from your repository: `MyRepository().remoteProvider.defaultHeade

[2021-03-24 03:06] Xitaris27 commented on #157
Perfect! Thanks!

[2021-03-24 03:06] #157 closed

[2021-03-25 23:26] Xitaris27 opened #158 "Query multiple ids"
I'd like to be able to query using multiple ids, but I'm not sure how to best build the query.

I tried building a query doing something like this:
...
    List<Where> where = List<Where>();
    for (var id in ids){
      where.add(Or('id').isExactly(id));
    }
    var query = Query(where: where);
    return Repository().get<User>(query: query);
...

is that the best way to handle this case?

[2021-03-26 09:26] polRk opened #159 "Wrong working of migration"
If I have a column with the DateTime type (in the DB it is a string), how can I convert the type to the String type?

[code]

I want to store only date in closed_at:

BEFORE: 2020-01-01T00:00
AFTER: 2020-01-01

[2021-03-26 15:46] tshedor commented on #158
@Xitaris27 I forget the name of this, but you can use if and for within Dart iterables. For example:

[code]

But otherwise, yes, that's how you would build the query.

[2021-03-26 15:48] tshedor commented on #159
@polRk Those dates are functionally the same, aren't they? What happens when you store a time with minutes?

The dart generators invoke `toIso8601String()` and on the other side invoke `DateTime.tryParse()`. I'd recommend testing your DateTime objects in [Dart Pad](https://dartpad.dev/?null_safety=true) to see how Dart natively converts the times.

[2021-03-26 20:55] #158 closed

[2021-03-29 09:03] polRk commented on #159
The problem is that brick stores the dateTime in UTC, and I need to store it in local time.

How can I remove the toIso8601String() behavior?

[2021-03-29 09:16] polRk commented on #159
I am interested in the question of how to make the migration without deleting the data.
Now: `insertColumn+deleteColumn`
I want to something like this: ```
  insertColumn (temp_orders)
  moveData(orders, temp_orders)
  deleteColumn(orders)
  insertColumn(orders)
  moveData(temp_orders, orders)
[code]

[2021-03-31 18:52] Xitaris27 opened #160 "Duplicate data"
I'm updating an app that needs REST to be the source of truth to use Brick .

I'm having an issue where, once the sqlite database has been hydrated (assuming I'm using the term correctly), then I'm no longer refreshing the data via the restProvider.

I tried setting alwaysHydrate: true, but this caused me to get duplicate data (instead of updating existing entities).

I also tried setting requireR

[2021-04-01 00:44] tshedor commented on #160
@Xitaris27 I would strongly recommend supporting a foreign key to identify your data between your local and remote providers, so to answer your question about annotating your `id` field as `@Sqlite(unique: true)` - yes, you should

[2021-04-01 00:45] tshedor commented on #159
@polRk you could use a custom generator, such as `@Sqlite(fromGenerator: '%DATA_PROPERTY%.toString()', toGenerator: '%INSTANCE_PROPERTY%?.toString()')`. That will override the default generator.

[2021-04-01 15:34] #160 closed

[2021-04-04 12:01] SubutaDan opened #161 "Flush the Queue of Pending Operations"
Hello, I am using OfflineFirstWithRest.  When a user logs out I want to remove any pending REST operations from the internal queue.  Do you have a recommendation for how to do that?  Thanks.  -Dan

[2021-04-05 01:19] tshedor commented on #152
@mrmeyers99 I'm going to close this due to inactivity, please reopen if the above doesn't work.

[2021-04-05 01:19] #152 closed

[2021-04-05 01:20] tshedor commented on #137
@SubutaDan I'm going to close this due to inactivity; I'd really appreciate a PR with documentation updates around your discovery

[2021-04-05 01:20] #137 closed

[2021-04-05 01:20] tshedor commented on #140
@SubutaDan I'm going to close this due to inactivity; I'd really appreciate a PR with documentation around your discoveries

[2021-04-05 01:20] #140 closed

[2021-04-05 05:33] tshedor commented on #161
@SubutaDan you can do something like this within your repository:

[code]

[2021-04-05 05:47] tshedor opened #162 "**Migrating to Null Safety with Brick**"
A beta version of Brick in Dart 2.12 and Flutter 2 is finally available. There are several improvements and several breaking changes. Please review below before updating Brick in your app.

Additionally, please open issues as you encounter them within generated adapters.

## Improvements

* `brick_offline_first`: Priority for the next job to process from the queue - when processing requests in ser

[2021-04-05 09:29] SubutaDan commented on #161
Thanks, Tim. I will give it a try.

-Dan

On 5 April 2021 06:33:52 BST, Tim Shedor ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-04-06 04:57] Xitaris27 opened #163 "Force HTTP Method"
Is it possible to force a specific HTTP method?
I'd like to retrieve some data from my REST server API, but I'd like to make a post request so I can put the query data in a post body.

Is it possible?

[2021-04-06 19:04] tshedor commented on #163
@Xitaris27 yep, you can force [a specific HTTP method](https://greenbits.github.io/brick/#/rest/query?id=providerargs) using `providerArgs: { 'request' : 'PUT'}`.

By default, all `upsert` calls in OfflineFirstWithRestRepository submit to the API as POST. All `delete` calls submit as PUT.

If you need to put additional data that the adapter does not generate in your payload, you can use `supplemen

[2021-04-16 21:04] tshedor commented on #163
Hey @Xitaris27 going to close this but let me know if you run into another problem.

[2021-04-16 21:04] #163 closed

[2021-04-16 21:04] tshedor commented on #161
Hey @SubutaDan I'm going to close this; let me know if the code didn't work out for you

[2021-04-16 21:04] #161 closed

[2021-04-18 10:13] SubutaDan commented on #161
Hi, Tim.  Thanks for getting  back top me about this.  I made the change you suggested and, although I haven't done any focused testing, I also haven't noticed any uploads after the user logs out so I think it is working. -Dan

[2021-04-18 18:03] tshedor commented on #159
@polRk I'm going to close this due to inactivity, let me know if the above didn't work for you.

[2021-04-18 18:03] #159 closed

[2021-04-19 18:24] Xitaris27 opened #166 "Too many requests"
I'm running into an issue where I'm making too many requests - one way I've tried to simplify things is to group requests together and returning all of the info I needed together.

For instance, I have an Order with a an OrderPart, like so, { order: {id: string, ... orderPartIn: {} } all returned in one request from the server. This seems to mostly work the way I want it to by **not** calling .get

[2021-04-19 19:22] tshedor commented on #163
@Xitaris27 what is the use case where you're using `POST` during a `GET` request?

[2021-04-19 19:27] tshedor commented on #166
@Xitaris27 a few options:
1. Use a specification like `@Rest(ignore: true)` on your field. This would allow you to store `OrderPart` and query it.
2. Use custom generators like `@Rest(fromGenerator:)` or `@Sqlite(fromGenerator:)`
3. `If OrderPart` is being returned from the server without a dedicated endpoint, you could use an `OfflineFirstSerdes` instead (at the expense of not having SQL querying

[2021-04-19 21:32] Xitaris27 opened #167 "Schema issue with latest migration"
I've been having an issue when running flutter pub run build_runner build when ever I make updates to my models. For some reason, the latest migration is not being included in the schema file and I've been having to manually add the 'part' statement as well as adding it to the migration list.

If I make multiple changes and run the command to generate a migration between each change, it will inclu

[2021-04-22 13:57] polRk opened #168 "Can't create valid migrations file"
I do not know what the problem is, but when you start the build, brick deletes all the columns and then creates them again

[code]

I think that after you added null safety, I lost the generation migration mechanism

[2021-04-25 17:21] tshedor commented on #168
@polRk have you migrated the rest of your Flutter app to null safety?

This also sounds like a bug my team recently encountered....if you import `package:flutter` anywhere if your model definition, it drops all of the columns. I believe this requires better error handling (Flutter doesn't support mirrors; build runner requires mirrors) but I haven't dived in yet.

[2021-04-25 17:22] tshedor commented on #167
@Xitaris27 Sorry for the delay. I've encountered this and it's something I keep meaning to get to.

If you run `flutter pub run build_runner build` to generate the migration, run it **again** and the new migration will be added to `schema.g.dart`.

[2021-04-26 18:31] diegonc opened #169 "build command fails due to a syntax error in generated code"
In a new flutter project I added the dependencies on brick

[code]
When I run the build command ( `flutter pub run build_runner build --verbose` ) I get the following error:

[code]

The test project is at https://github.com/diegonc/test_brick and the entity at https://github.com/diegonc/test_brick/blob/master/lib/app/models/product_variant.dart

`flutter doctor` output is:

[code]

Any idea why t

[2021-04-26 20:46] diegonc commented on #169
Thanks for the response. I noticed the environment version in brick example. Unfortunately I cannot switch to `>=2.12.0` without causing a lot of errors in my code base :(

BTW, setting `brick_offline_first_with_rest_build` to `any` did not work for me, the full log follows:

[code]

There's a line saying that it's compiling without sound null safety but still fails.

[code]

[2021-04-26 21:14] tshedor commented on #169
@diegonc can you please paste your `flutter doctor`

[2021-04-26 21:22] diegonc commented on #169
Sure:
[code]

[2021-04-26 21:54] tshedor commented on #169
@diegonc it looks like you are using Flutter 2.0 and Dart >=2.12 ? Or at least that's what you're compiling with. Alternatively, you can do something like `git checkout 1.22.6 && flutter doctor` in your flutter directory to downgrade to Flutter 1.22

[2021-04-26 21:58] diegonc commented on #169
Yeah, that's probably it. I updated today because flutter told me there was a newer version but didn't pay much attention.
I'll try downgrading. Thanks

[2021-04-28 00:15] diegonc commented on #169
Well, since this is not a bug but a setup thing I guess I should close the issue now. We finally went down the migration to null safety road so a downgrade was not necessary. Thanks for the help you provided us!

[2021-04-28 00:15] #169 closed

[2021-04-29 16:36] #166 closed

[2021-05-07 16:40] tshedor commented on #168
@polRk I'm going to close this at the end of today unless you have any other updates?

[2021-05-07 16:41] tshedor commented on #167
@Xitaris27 I'm going to close this at the end of the day unless you've got any new updates?

[2021-05-09 17:07] polRk commented on #168
[code]

[2021-05-10 00:20] #167 closed

[2021-05-10 00:22] tshedor commented on #168
@polRk I'm not sure what you mean. What does the fourth line indicate, re: `TDO should not have package:flutter imports`?

What is your `flutter doctor`? Have you upgraded your application to Flutter 2?

[2021-05-10 04:21] polRk commented on #168
Sorry, it how we fixed double migration generation. No, we didn’t upgrade to flutter 2.

[2021-05-10 18:43] tshedor commented on #168
Ok. Is this issue good to close then?

[2021-05-16 21:48] #168 closed

[2021-05-16 21:50] tshedor commented on #38
Hey @porfirioribeiro I'm going to close this issue. This isn't a feature I intend to prioritize in the near future and it's been over a year since the issue was opened, so perhaps not in the long term either.

However, PRs are always open for something like this and I'd welcome the code.

[2021-05-16 21:50] #38 closed

[2021-07-09 07:42] pkozlovskiy opened #180 "Crash with nullable enumAsString field"
In model i have field
[code]

But in adapter
`status: RestAdapter.enumValueFromName(TaskStatus.values, data['status']),`
if I get data['status']=null enumValueFromName is crashed becase it want String only
`  static T? enumValueFromName<T>(Iterable<T> enumValues, String enumName) {`

[2021-07-09 16:35] vandres opened #181 "Bug: `alwaysHydrate` and `requireRemote` inserts data multiple times into SQLite"
We are using UUIDs in our app. Now I would like to use `alwaysHydrate`, to see if new data is on the server, before displaying it to the user. But what happens is, that the data is fetched and then suddenly the data is twice in our SQLite. I assume, Brick doesn't know, how to identify which item on the server is linked to which item in the SQLite. Something like `@Id` maybe.

Another thing, but th

[2021-07-10 08:05] vandres commented on #181
I think by looking through the code, I found the solution. The SqliteProvider is identifying models by their unique columns. Am I right? Did I miss that in the documentation?

[code]

[2021-07-10 16:10] tshedor commented on #181
Hello. First, thanks for using Brick.

Yes, the SqliteProvider does identify by unique columns when you tell it
to.

Did adding the @Sqlite annotation solve the multiple write issue?

On Sat, Jul 10, 2021 at 01:05 Volker Andres ***@***.***>
wrote:

--
Tim Shedor
Greenbits – Software Engineer
***@***.***
Subscribe to our Newsletter
<https://try.greenbits.com/newsletter/?utm_source=signaturesatori&u

[2021-07-10 21:36] vandres commented on #181
Yes. Adding the "unique" annotation resolved the problem

[2021-07-11 11:23] vandres opened #182 "Bug: Deleting when being offline"
Hi.

When tying to delete a model when being offline, an exception is thrown. Syncing still works, after going back online.

When upserting a model while being offline, no error is thrown.

[2021-07-11 12:15] vandres opened #183 "Bug: Enum are always treated as nullable when using `enumAsString`"
We are having a Model Run:

[code]

The generated code looks like this:

[code]

`enumValueFromName` looks like this:

[code]

Since `state` is a non-nullable field for us, this generated code throws errors. Specifically the lines which allow nullables:

[code]

and

[code]

[2021-07-11 12:27] vandres opened #184 "FR/Bug: `enumAsString` should also be available for SQLite"
Currently `enumAsString` is only available for `@Rest()`. In my opinion, this should also be available for `@Sqlite()`. It should convert the column to a `varchar` and save the string.

Also my opinion :) In general I would not recommend to use an integer representation of an Enum. When adding options to an Enum, you would always need to add it at the end. Otherwise the index will be changed and y

[2021-07-12 08:16] kirill09 opened #185 "Warning: Operand of null-aware operation"
Hi encountered a warning.
In your example, in the Customer model, change the final List <Pizza> field? pizzas; on List <Pizza>? pizzas;

Warnings appear when launching the application.

[code]

[code]

[2021-07-12 11:58] vandres opened #186 "Bug: Warning when working with relations/associations"
Hi again :)

When working with associations, the generated code is not 100% correct. Having a model like this, with a non-nullable association:

[code]

The generated code for Rest looks like this:

[code]

The `instance.run!` throws a warning, since `run`  is already non-nullable

[2021-07-12 14:20] vandres opened #187 "Bug: Warning for non-nullable maps"
When working with non-nullable maps, the generated code throws a warning. The field looks like this: `final Map<String, dynamic> meta;`. The generated code looks like this:

[code]

Since the field is non-nullable, the `??` operation is not necessary.

[2021-07-14 17:41] vandres opened #188 "FR: PATCH support"
Hi there.

One of our rest endpoints expects a PATCH request. Is there any plan on implementing PATCH support? Support for the keyword would already be enough, it could still send the whole model.

[2021-07-21 12:21] kirill09 opened #189 "Work with MemoryCacheProvider"
Hi thanks for the great library.
Working with MemoryCacheProvider found the following code:

[code]
https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/lib/src/offline_first_repository.dart#L116

Why, if we did not find the data in the memoryCacheProvider, do we return false. It seems to me that there should be a request for sqliteProvider.exists?

[2021-07-28 03:06] tshedor commented on #180
Hey @pkozlovskiy there are two guesses I have for you:

1. You need to regenerate your adapter.
2. Try setting `@Rest(nullable: true)` on this member. [Looking at the source code](https://github.com/greenbits/brick/blob/master/packages/brick_build/lib/src/serdes_generator.dart#L214-L215), the rest adapter should return `null` instead of trying to pass `data['status']` to that `enumValueFromName`.

[2021-07-28 03:08] #181 closed

[2021-07-28 03:12] tshedor commented on #182
Hi @vandres if you always need to throw an error, try using [`reattemptForStatusCodes`](https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/lib/src/offline_first_with_rest/offline_first_with_rest_repository.dart#L142-L144).

However, I would advise that this is an antipattern and should be used rarely. By name, the OfflineFirst system is designed to always deliver data from

[2021-07-28 04:02] tshedor commented on #188
Hey @vandres , you can specify this on your `upsert` invocations [using `'request'`](https://greenbits.github.io/brick/#/rest/query?id=providerargs):

`upsert<Model>(instance, query: Query(where: [], providerArgs: {'request': 'PATCH'}))`

[2021-07-28 04:02] #188 closed

[2021-07-28 04:02] #180 closed

[2021-07-28 04:16] tshedor commented on #189
Hi @kirill09 thanks for the question.

The thinking behind this decision is the sourcing of the providers. Think of the providers like a ladder - at the lowest, most performant level is Memory, then SQLite, then REST. Or, if you're better with spatial diagrams, [this may be more useful](https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/README.md#brick-offline-first). If w

[2021-07-28 04:17] tshedor commented on #185
Hi @kirill09 could you please provide the adapter code for this Customer model?

[2021-07-28 04:18] tshedor commented on #142
@polRk have you had a chance to use the null safety code? Do you still encounter this error?

[2021-07-28 07:11] vandres commented on #182
I agree. There should be no error when deleting either

[2021-07-28 07:32] vandres commented on #188
@tshedor Maybe I am misreading the following code. Is there another place, the REST request is triggered?

[code]

[2021-07-28 14:10] tshedor commented on #187
@vandres thanks for the issue; I've merged in a fix to master and uploaded to pub dev. Please update your `brick_offline_first_with_rest_build` dependency

[2021-07-28 14:10] #187 closed

[2021-07-28 14:10] tshedor commented on #183
@vandres thanks for the issue; I've merged in a fix to master and uploaded to pub dev. Please update your `brick_offline_first_with_rest_build` dependency

[2021-07-28 14:10] #183 closed

[2021-07-28 14:12] tshedor commented on #186
@vandres thanks for the issue; I've merged in a fix to master and uploaded to pub dev. Please update your `brick_offline_first_with_rest_build` dependency

[2021-07-28 14:12] #186 closed

[2021-07-28 14:17] tshedor commented on #182
@vandres to clarify, you're suggesting that when the application does has internet connectivity and cannot reach the REST endpoint to delete, no error should be reported to the application?

[2021-07-28 14:19] vandres commented on #182
@tshedor In my opinion, all write operations should behave the same. Either they both report an error, or they both deliver the same offline first experience. I would prefer the latter.

What is your opinion about that? What are/were the thoughts behind the current implementation?

[2021-07-29 14:23] tshedor commented on #188
@vandres you're right; I've merged a feature for this into master. Please update your `brick_rest` dependency

[2021-07-29 18:18] kirill09 commented on #189
Yes, but you are missing the query step in **sqliteProvider**.
If we pass **MemoryCacheProvider([Model, Model])** the following algorithm is executed:
- query for **exists**
- method **canFind** returns true
- but there is no data in **memoryCacheProvider**
- go to https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/lib/src/offline_first_repository.dart#L157
- In the hydrat

[2021-07-29 18:26] kirill09 commented on #185
Yes, sure
[code]

[2021-08-06 15:14] kirill09 opened #198 "Migration deleting a field"
After deleting a field in the model brick creates a migration

[code]

After running ```flutter pub run build_runner build```
Outputs errors:
[code]

[2021-08-06 19:44] kirill09 commented on #198
Thanks. in brick_sqlite abstract: 1.0.3, this issue has been fixed

[2021-08-09 01:59] tshedor commented on #198
@kirill09 great news, I'm going to close this issue then

[2021-08-09 01:59] #198 closed

[2021-08-09 02:07] tshedor commented on #189
@kirill09 I don't understand the flow you're describing. Where I'm getting lost is the difference between "no data" `memoryCacheProvider` and "empty" `memoryCacheProvider`. Do you mean, in the second case, you're not specifying `managedModelTypes`? Annotated method below:

[code]

[2021-08-09 02:46] tshedor commented on #185
@kirill09 thanks for the issue; this will be fixed in the next release of sqlite generators. If you can't wait until then you can override the dependency:

[code]

[2021-08-09 02:46] #185 closed

[2021-08-09 08:38] kirill09 commented on #189
The code in the master branch is different from the one you showed.
https://github.com/greenbits/brick/blob/master/packages/brick_offline_first/lib/src/offline_first_repository.dart#L116

master branch:
```return results?.isNotEmpty ?? false;```

you showed:
```if (results?.isNotEmpty ?? false) return true;```

[2021-08-09 18:54] tshedor commented on #189
@kirill09 Correct. My comment from 13 days ago and from 17 hours ago were suggestions of how you could override the `exists` method in your repository to get the functionality you want.

[2021-08-10 06:04] kirill09 commented on #189
@tshedor Thanks. I was wondering why brick has such an implementation

[2021-08-10 14:34] pkozlovskiy commented on #182
@vandres one way is to add flag to your model 'isDeleted' and upsert changes.

[2021-08-10 14:47] pkozlovskiy opened #200 "Can't use providerArgs with getBatched"
My providerArgs (witch i use in request) is loosing when I use getBatched
`query = (query ?? Query()).copyWith(providerArgs: {'limit': batchSize});`
i think  this right code
[code]

[2021-08-11 00:22] tshedor commented on #189
@kirill09 it's because if we can find it in our memory provider, we should be able to, otherwise the memory provider needs to be hydrated. Otherwise the data fetching would constantly skip over memory provider and get the data from the second lowest provider, SQLite.

[2021-09-03 16:55] kirill09 opened #204 "Row query"
Hi, is it possible to do a row query in brick? Perhaps there are other ways to solve the problem? Let me try to describe the problem using your example. You need to calculate which pizza is the most popular with customers?
This is what the query should look like:
[code]
Thank you.

[2021-09-06 23:35] chinitadelrey opened #205 "GraphQL support?"
This is an amazing library, thank you. From this [introduction video](https://www.youtube.com/watch?v=2noLcro9iIw) it seems that there is an intention to support graphQL. I tried looking in the docs and the various packages, but graphQL doesn't seem to be mentioned. Is it currently supported? If not, how might I and others be able to quickly put something together on our own end? I am using the [g

[2021-09-07 07:03] monolidth opened #206 "Thank you!"
I needed that. Thanks for this awesome library!

Regards,
William

[2021-09-09 03:33] tshedor commented on #204
Hey @kirill09 so Brick won't be able to do a fancy count like this through SQL but you could try this:

[code]

This sort of nested query isn't ideal, but if you use the `@OfflineFirst(where:)` annotation, the adapter generates some magic SQL to make the connections work as soon as you hydrate from SQL.

[2021-09-09 03:33] tshedor commented on #189
Hey @kirill09 going to close this one out

[2021-09-09 03:33] #189 closed

[2021-09-09 05:42] tshedor commented on #205
Hi @chinitadelrey thanks for using Brick.

That's an attentive catch to the video. While we were considering adding a GraphQL provider at the onset, I don't have the bandwidth to compose one in the near to intermediate future.

It would be fantastic if you wanted to lead an effort to make a GraphQL provider. I would recommend starting with the [Brick Build README](https://github.com/greenbits/bric

[2021-09-09 09:12] dimiskil opened #208 "How to convert a model field to a small letter in a Query?"
Hi, thanks for good library.

i want to get data from SQLite case insensitive
for example:
[code]
How i can do it?

[2021-09-11 18:08] tshedor commented on #208
@dimiskil You can't make SQL calls directly with Brick unless you use `sqliteProvider.rawQuery` or `sqliteProvider.rawExecute`, both of which I would recommend not using as you'll become excluded from future Brick APIs and optimizations. Instead, for this case, I would use a computed getter.

[code]

But in these instances I find it's better to modify the search query instead:

[code]

[2021-09-11 18:08] tshedor commented on #206
Thanks for the kind words @monolidth , I'm glad it's useful to you!

[2021-09-11 18:08] #206 closed

[2021-09-11 18:09] #205 closed

[2021-09-11 18:13] #204 closed

[2021-09-11 18:14] #208 closed

[2021-09-12 05:38] kirill09 commented on #204
Hi, in this query you are counting the number of pizzas per user. I wanted to get a table:

[code]

COUNT(*) = number of pizzas ordered by the customer.
In your query, I have to make this query for each customer

[2021-09-13 06:02] dimiskil commented on #208
thanks!)

[2021-09-13 21:26] chinitadelrey commented on #205
Thank you so much @tshedor for your very helpful guidance on how to proceed.

Apologies for the delayed response. Right now I am getting by with one database table in my beta test. Have had to spend the past couple days on other issues on the backend.

I will definitely seriously re-look into this at a later date especially when the app starts to scale up to more users.

All the best in the meanti

[2021-09-14 10:09] Phoenix986 opened #211 "build_runner build error"
I got this error when I run the `flutter pub run build_runner build` command

[code]

i'm started from a new "helllo world" app and followed the quick start documentation `https://greenbits.github.io/brick/#/?id=quick-start`

[2021-09-14 19:16] tshedor commented on #204
@kirill09 brick won't have that output as it's concerned with outputting Models. If you want a `Map` like that I'd recommend using `SqliteProvider#rawQuery` at your own risk

[2021-09-14 19:17] tshedor commented on #142
Closing due to inactivity

[2021-09-14 19:17] #142 closed

[2021-09-15 18:36] tshedor commented on #211
@Phoenix986 sorry about that, I forgot to publish the version on the build package. Please update that package to `1.1.0`

[2021-09-19 07:34] Phoenix986 commented on #211
thanks now it works well

[2021-09-19 07:34] #211 closed

[2021-11-27 10:58] kirill09 opened #216 "Update version"
Hi.
I see a lot of useful changes but haven't updated the version for a long time.
When do you plan to update the version?

[2021-12-07 00:42] tshedor commented on #216
@kirill09 @vasilich6107 I've released a new version of `brick_sqlite` and `brick_offline_first`; both at `1.1.0`. Thanks for the reminder.

[2021-12-07 00:42] #216 closed

[2021-12-09 01:25] pomarec opened #219 "Bug : broken "Full documentation" link in README.md"

[2021-12-22 20:33] tshedor commented on #219
Good catch @pomarec,  thanks

[2021-12-22 20:33] #219 closed

[2022-01-18 23:04] #162 closed

[2022-01-20 01:00] tshedor commented on #184
@vandres finally got around to adding this.

[2022-01-20 01:00] #184 closed

[2022-02-11 13:42] pkozlovskiy opened #257 "Analyzer version conflict with many libs"
analyzer: ^3.2.0

 Many llibs not updated for this version(

[2022-02-11 22:22] #257 closed

[2022-02-16 19:59] tshedor opened #263 "**Migrating to Brick 2 from Brick 1**"
Brick 2 focuses on Brick problems encountered at scale. While the primary refactor was the abstraction of domain-specific code from generalized domains, this major release also includes a new GraphQL domain, resolution of community pain points, and a few neat tricks.

Please follow the guide below to mitigate the breaking changes (shell commands are run at your own risk).

And please respond to th

[2022-02-16 20:02] tshedor commented on #182
Hey @vandres I hope I addressed this in #263 and Brick 2. Please let me know if using `OfflineFirstDeletePolicy.requireRemote` doesn't resolve your problem.

[2022-02-16 20:02] #182 closed

[2022-04-02 02:07] KayoticSully opened #273 "Can't generate anything since update to v2"
I'm having this weird issue. Since I've upgraded to v2 the build_runner does absolutely nothing.  It runs but has 0 outputs even after I have added a field to a model.

Are there any common issues that could cause a migration to not be created?

[2022-04-02 23:28] tshedor commented on #273
Hi @KayoticSully have you renamed your model files to `.model.dart`? There are other [breaking changes](https://github.com/GetDutchie/brick/issues/263) in this announcement that may be useful too.

[2022-04-03 00:08] KayoticSully commented on #273
I did rename my models. I tried to follow that migration guide best I could. I'm guessing I missed something but its odd, there are no errors, it seems like the runner runs fine but it has no outputs even though Ive changed one of the models.  Do I need to completely reset thing and delete all the previous migrations or anything?

[2022-04-03 15:59] KayoticSully commented on #273
@tshedor I think I figured it out.  The v2 packages haven't been published to `pub.dev` yet so I wasn't actually using the new packages and since i was specifying "any" version it was still expecting models to be in the old location.  I switched over to referencing the git repo and its all working now.

[2022-04-03 15:59] #273 closed

[2022-04-03 21:32] tshedor commented on #273
Hey @KayoticSully sorry about that and good catch. I'll publish the rest tomorrow.

[2022-04-04 16:17] tshedor commented on #273
@KayoticSully I've published all `-rc` packages on pub.dev; please let me know if `build_runner` still doesn't work when sourcing from pub.dev

[2022-04-10 14:13] KayoticSully commented on #133
I can create a new issue if this should be handled separately but I have a related question.

If I want to store some local metadata only for the local app (a few app states that I want to persist between app launches). Is there a way to have a model that only exists locally?  Or will brick always try to persist data?

Ive been experimenting with only fetching the model with the `OfflineFirstGetPo

[2022-07-24 17:57] fvluijn opened #280 "Current state of this project?"
Hey guys,

First of all: great project! You'd expect the issues solved by this to be more widespread and even natively supported by Flutter.

Anyway, looking at this repository and trying to get it to run (I can't), I'm wondering if this project is abandoned or not?
Do you have plans to maintain it into the foreseeable future? I'd love to help but I'm very new to Flutter and Dart.

I noticed the l

[2022-07-25 03:05] tshedor commented on #280
@fvluijn Hey, this is still being actively maintained. Day-to-day has been shifted to the GraphQL domain, but that's not to say the Rest domain is abandoned. I'll see what I can diagnose about this error tomorrow.

[2022-07-26 07:04] fvluijn commented on #280
@tshedor that's good to hear. Haven't looked as closely at the GraphQL part, might be interesting to use as well. I'll try and see if those packages do resolve.

[2022-07-29 11:26] CyMathew opened #281 "Is @ConnectOfflineFirstWithRest() part of Brick 2 or Brick 1?"
Trying out brick in a test Flutter app but I'm not sure if I'm following the latest documentation.
According to #263, `brick_offline_first` is now, fundamentally, `brick_offline_first_with_rest`.

While creating a model according to https://getdutchie.github.io/brick/#/data/models , I saw the use of `@ConnectOfflineFirstWithRest()`. Is `@ConnectOfflineFirstWithRest()` part of Brick 2 or Brick 1?
[

[2022-07-30 11:31] fvluijn commented on #280
Alright, just to confirm the packages do resolve when using the GraphQL packages:

[code]

[2022-08-01 21:23] tshedor commented on #280
@fvluijn sorry for the delay. Turns out I [hadn't published](https://pub.dev/packages/brick_offline_first_with_rest_build) `brick_offline_first_with_rest_build`. v2 is published now, and using `any` now works for the rest domain. Best of luck with your project, and thanks for opening this issue.

[2022-08-01 21:29] tshedor commented on #281
@CyMathew Thanks for opening this issue and using Brick.

In v1, `brick_offline_first` contained all rest-specific logic. That logic was moved to its own package, `brick_offline_first_with_rest`. `brick_offline_first` contains provider-agnostic code, so it's still relevant, but it should be rarely used directly.

`ConnectOfflineFirstWithRest` is used in both v1 and v2. It's necessary to build the

[2022-08-01 21:46] #280 closed

[2022-08-01 21:46] tshedor commented on #280
@fvluijn sorry this autoclosed on the PR, but I think we're resolved on this? Please @ me on here if you're still unable to compile dependencies and I'll reopen.

[2022-08-09 10:44] AbgarSim opened #285 "Question - Hive/Isar local storage support?"
Hi there! First off, thanks for the awesome library! I wish to use this lib in my application, but want to swap out SQLite with Hive for local storage. Are there any plans to provide support for any additional internal storages (Hive or maybe even Isar)?
Thanks in advance!

[2022-08-14 01:47] tshedor commented on #285
Hi @AbgarSim thanks for the note. There aren't plans to support anything besides SQLite for local storage. Hive has its own annotation system and plenty of complexity. PRs are always open, however, if you want to examine adding a Hive domain to within Brick.

[2022-08-14 01:47] #285 closed

[2022-08-14 01:48] tshedor commented on #281
@CyMathew I'm going to close this issue due to inactivity, but please comment again if the solution above didn't solve your problem.

[2022-08-14 01:48] #281 closed

[2022-08-14 14:04] fvluijn commented on #280
Sorry about the late reply, works like a charm, thanks!

Small follow up, if GraphQL has the focus right now, would you recommend using that over rest when implementing this library?

[2022-08-15 06:18] tshedor commented on #280
I would recommend whatever you know best. While GraphQL has more development now, REST has been in the field for years and is tried and true.

Comparing architecture, I don't believe GraphQL is build exactly like it's sold. There are some extremely frustrating parts of GraphQL - like duplicate definitions of inputs and types - and poor interpolation within TS/JS. The selling points of a strongly-t

[2022-08-17 10:01] fvluijn commented on #280
Not at all, that's a good answer, thank you. I was just thinking your library might favor one or the other.
Thank you for your answers!

[2022-10-05 20:01] MarcusSorealheis opened #300 "No Support for Realm - A More Fully-Featured DB for Resource Constrained Environments"
Hi all, I noticed that this project, *which I love*, is built purely for SQLite. The integration is tightly coupled. For more companies to adopt this project, it could be good if the DB choice could be left to the user.

I'd like to propose adding Realm. Is that something that the team would be:
1. Open to
2. Willing to review and/or guide my naïve implementation? i'm a PM, Dutchie fan, and not re

[2022-10-05 20:33] tshedor commented on #300
Hey @MarcusSorealheis thanks for using Brick and opening this issue.

I haven't used Realm since 2015 and haven't reviewed much since. A couple questions about it in its modern implementation:

1. Can you programmatically create the data storage interface? Such as `CREATE TABLE User IF NONE EXISTS` or `ALTER TABLE User ADD name`?
2. Is Realm's [Flutter SDK insufficient](https://www.mongodb.com/doc

[2022-10-06 06:10] MarcusSorealheis commented on #300
I will leave my colleague @ianpward to answer questions 2 and 3 as he will be able to provide the most comprehensive answer. Although, the specifics for number 2 may require more details. What motivates the question? What data types need be supported? I expect that the Flutter SDK will be evolving over the course of this dance, and others, to close gaps where we identify inefficiency.

The answer

[2022-10-06 19:04] ianpward commented on #300
thanks Marcus - hey @tshedor - glad to meet another Realm user! To answer your questions -

1. Realm instantiates the schema at compile time by inferring it from your object model definitions. So you do not need to write or maintain any schema DDL code yourself. You can see it here -
https://www.mongodb.com/docs/realm/sdk/flutter/realm-database/define-realm-object-schema/#many-to-one
Realm also ha

[2022-11-24 16:25] maherjaafar opened #304 "Outdated documentation and examples"
I wanted to implement offline first with rest api in a Flutter app. I went through the Readme file to understand the package and the sub-packages and what I should use, so cloned the repo and checked the REST example.

The architecture is really good, but when I started with implementing it in Flutter. I don't know which package I should use and what are the parameters that should be used and how

[2022-11-24 17:17] tshedor commented on #304
Hi @maherjaafar can you please be more specific about where you found outdated documentation and examples?

[2022-11-25 08:33] maherjaafar commented on #304
@tshedor thank you for the quick answer. I edited the description of the issue.

[2022-11-28 02:23] tshedor commented on #300
@ianpward since you and I have connected directly via email, I'm going to close this issue out. Looking forward to working together

[2022-11-28 02:23] #300 closed

[2022-11-29 22:24] tshedor commented on #304
@maherjaafar A few questions for you to help me triage your problem:

Is [the REST example](https://github.com/GetDutchie/brick/tree/main/example) not running locally? This package is a [Flutter app](https://github.com/GetDutchie/brick/blob/main/example/lib/main.dart) and should illustrate the repository's usage within an app. That main file should show what packages to import.

Anything with a `.

[2022-11-30 12:33] maherjaafar commented on #304
I will check it out. Thank you for the good explanation. I will close this issue. 👍🏼

[2022-11-30 12:33] #304 closed